@import "./config";

body {
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  @import "./form-ui";
  min-height: 100dvh;

  #root {
    height: 100%;
    min-height: 100dvh;
  }

  header {
    position: sticky;
    top: 0;
    right: 0;
    gap: 4px;
    width: 100%;
    z-index: 1024;
    transition: $transition;
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $inputStroke;
    padding: 8px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      gap: 24px;

      .logo-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .logo-img {
          height: 56px;
          display: flex;
          position: relative;
          padding: 8px 0;

          img {
            height: 100%;
            object-fit: contain;
          }
        }

        .logo-title {
          display: flex;
          flex-direction: column;
          gap: 4px;
          position: relative;

          span {
            color: $main;
            position: relative;
            line-height: 1;

            &.title {
              font-size: 18px;
              font-weight: 800;
            }

            &.sub-title {
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }

      .navbar-menu {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 8px;

        .nav-item {
          font-size: 16px;
          position: relative;
          padding: 4px 16px;
          border-radius: 16px;
          transition: $transition;

          &.active {
            background-color: $main;
            color: white;
          }

          &:hover {
            &:not(.active) {
              background-color: $main10;
              color: $main;
            }
          }
        }
      }

      .icons-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;

        .dropdown {
          position: relative !important;
          .dropdown-toggle {
            background-color: $main10 !important;
            color: $main !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition;
            border: none;
            padding: 4px;

            &:hover {
              background-color: $main !important;
              color: $white !important;

              img {
                filter: brightness(0) invert(1);
              }
            }

            img {
              height: 20px !important;
              object-fit: contain !important;
              transition: $transition;
            }
          }
          .dropdown-menu {
            border: none;
            box-shadow: 0px 2px 8px #0000001a;
            animation: fadeIn 0.5s;
            flex-direction: column;
            border-radius: 12px;
            border: 1px solid $inputStroke;

            @keyframes fadeIn {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
            &.show {
              display: flex;
              top: 16px !important;
            }
          }
          .dropdown-item {
            padding: 8px 16px;
            font-size: 14px;
            text-transform: capitalize;
            text-align: start;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: $transition;
            &:active {
              background: none !important;
            }
            &:hover {
              background-color: $main10 !important;
              color: $main;
            }
            img {
              height: 16px;
              width: 16px;
            }

            i {
              width: 24px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 16px;
            }
            a {
              width: 100%;
              color: $black;
              display: flex;
              align-items: center;
              gap: 6px;
              &:hover {
                color: $main;
              }
            }
            &:hover {
              background: none;
            }
          }
          .dropdown-toggle::after {
            display: none;
          }
          &:has(.text) {
            .dropdown-menu {
              flex-wrap: wrap;
              --bs-dropdown-min-width: 16rem;
              padding: 8px;
              gap: 4px;
              flex-direction: row;
              border-radius: 16px;
              p {
                padding: 8px;
                color: $textColor;
                width: 100%;
                border-radius: 12px;
                font-weight: bold;
              }
              .dropdown-item {
                border: 1px solid $border;
                border-radius: 12px;
                aspect-ratio: 1;
                width: calc(100% / 2 - 2px);
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                align-items: center;
                img {
                  width: 40px;
                  height: 40px;
                  object-fit: contain;
                  transition: $transition;
                }
                &:hover {
                  background-color: $main;
                  color: $white;
                  border-color: $main;
                  img {
                    filter: brightness(0) invert(1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .confirm-delete {
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 24px;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $inputStroke;
      color: $black;
      width: 100%;
      outline: none;
      background: none;
      padding: 12px;
      border-radius: 12px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: rgb(255, 0, 0);
      color: $white;
      border-radius: 12px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: $main;
      }
    }
  }

  .drop_profile_Menu {
    z-index: 999;
    padding: 8px 0;
    flex-direction: column;
    min-width: 240px !important;
    &:has(.menu-header) {
      padding-top: 0 !important;
    }

    .menu-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      gap: 4px !important;
      position: relative;
      border-bottom: 1px solid #efefef;
      margin-bottom: 8px !important;
      border-radius: 12px 12px 0 0 !important;

      .name {
        font-size: 16px;
        font-weight: 600;
        color: $black;
      }
      .sub {
        font-size: 12px;
        font-weight: 400;
        color: $textColor;
      }
    }
  }

  .drop_Message_Menu {
    z-index: 999;
    min-width: 350px;
    padding: 0;
    height: 300px;
    flex-direction: column;
    .scroll_menu {
      overflow-y: scroll;
      flex: 1 1 auto;
      scrollbar-width: none;
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .drop_Message {
        width: 100%;
        .image-wrapper {
          align-items: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          overflow: hidden;
          position: relative;
          width: 32px;
          aspect-ratio: 1;
          background-color: #4381f81a;
          i {
            font-size: 16px;
            color: $main;
          }
        }
        p {
          margin: 0;
          text-align: start;
        }
      }
    }
    .showall {
      width: 100%;
      text-align: center;
      color: $main;
      font-size: 14px;
      padding: 12px;
      border-radius: 4px;
      background: $inputBg;
    }
  }

  &.en {
    direction: ltr;
  }
}
