@import "./config";

body {
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  min-height: 100dvh;

  @import "./form-ui";
  @import "./layout";
  @import "./home";

  #root {
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
  }

  main {
    flex: 1 1 auto;
  }

  .confirm-delete {
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 24px;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $inputStroke;
      color: $black;
      width: 100%;
      outline: none;
      background: none;
      padding: 12px;
      border-radius: 12px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: rgb(255, 0, 0);
      color: $white;
      border-radius: 12px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: $main;
      }
    }
  }

  .drop_profile_Menu {
    z-index: 999;
    padding: 8px 0;
    flex-direction: column;
    min-width: 240px !important;
    &:has(.menu-header) {
      padding-top: 0 !important;
    }

    .menu-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      gap: 4px !important;
      position: relative;
      border-bottom: 1px solid #efefef;
      margin-bottom: 8px !important;
      border-radius: 12px 12px 0 0 !important;

      .name {
        font-size: 16px;
        font-weight: 600;
        color: $black;
      }
      .sub {
        font-size: 12px;
        font-weight: 400;
        color: $textColor;
      }
    }
  }

  .drop_Message_Menu {
    z-index: 999;
    min-width: 350px;
    padding: 0;
    height: 300px;
    flex-direction: column;
    .scroll_menu {
      overflow-y: scroll;
      flex: 1 1 auto;
      scrollbar-width: none;
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .drop_Message {
        width: 100%;
        .image-wrapper {
          align-items: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          overflow: hidden;
          position: relative;
          width: 32px;
          aspect-ratio: 1;
          background-color: #4381f81a;
          i {
            font-size: 16px;
            color: $main;
          }
        }
        p {
          margin: 0;
          text-align: start;
        }
      }
    }
    .showall {
      width: 100%;
      text-align: center;
      color: $main;
      font-size: 14px;
      padding: 12px;
      border-radius: 4px;
      background: $inputBg;
    }
  }

  &.en {
    direction: ltr;
  }
}
