@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

hr {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.tooltip {
  --bs-tooltip-bg: #242424;
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
  line-height: 20px;
}

.stars {
  display: flex;
  gap: 4px;
}
.stars li {
  color: #d9d9d9;
}
.stars li.star {
  color: #ffd500;
}
.stars img {
  height: 16px !important;
}

input[type=checkbox] {
  width: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  content: "";
  font-family: "Font Awesome 6 pro";
  width: 18px;
  height: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4381f8;
}
input[type=checkbox]:checked::after {
  content: "\f00c";
  background: #4381f8;
  color: #fff;
  border-color: #4381f8;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.tableLoader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableLoader .loader--style8 {
  width: 80px;
  height: 80px;
}
.tableLoader svg path,
.tableLoader svg rect {
  fill: #4381f8;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .modal-title {
  font-size: 14px;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("../../public/imgs/close.svg");
  margin-left: 0;
  margin-right: auto;
}

.form-switch .form-check-input {
  box-shadow: none !important;
}
.form-switch .form-check-input::after {
  content: none !important;
}
.form-switch .form-check-input:checked {
  background-color: #4381f8;
  border-color: #4381f8;
}

.form-control {
  box-shadow: none !important;
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.loader img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.loader span {
  width: 120px;
  height: 2px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  background: linear-gradient(238.2deg, rgba(67, 129, 248, 0.1019607843) 0%, #4381f8 100%);
  height: 100%;
  animation: appLoading 0.5s linear infinite alternate;
}
@keyframes appLoading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  cursor: pointer;
}

.dropdown-menu {
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
.dropdown-menu a:focus {
  background: none !important;
}

.swiperControl {
  position: relative;
  padding: 8px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.swiperControl .swiperBtns {
  display: flex;
  gap: 8px;
}
.swiperControl .swiperBtns .swiper-button-next,
.swiperControl .swiperBtns .swiper-button-prev {
  position: relative;
  right: unset;
  left: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #38383a;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .swiperControl .swiperBtns .swiper-button-next,
  .swiperControl .swiperBtns .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
}
.swiperControl .swiperBtns .swiper-button-next::after,
.swiperControl .swiperBtns .swiper-button-prev::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("../../public/imgs/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease-in-out;
  filter: brightness(0);
}
@media screen and (max-width: 768px) {
  .swiperControl .swiperBtns .swiper-button-next::after,
  .swiperControl .swiperBtns .swiper-button-prev::after {
    width: 16px;
    height: 16px;
  }
}
.swiperControl .swiperBtns .swiper-button-next:hover,
.swiperControl .swiperBtns .swiper-button-prev:hover {
  opacity: 1;
  background-color: #4381f8;
  color: #4381f8;
  border-color: #4381f8;
}
.swiperControl .swiperBtns .swiper-button-next:hover::after,
.swiperControl .swiperBtns .swiper-button-prev:hover::after {
  filter: brightness(0) invert(1);
}
.swiperControl .swiperBtns .swiper-button-next.swiper-button-disabled,
.swiperControl .swiperBtns .swiper-button-prev.swiper-button-disabled {
  opacity: 0.2;
}
.swiperControl .swiperBtns .swiper-button-next {
  right: unset;
}
.swiperControl .swiperBtns .swiper-button-next::after {
  transform: scaleX(-1);
}
.swiperControl .swiper-pagination {
  position: relative;
  min-height: 16px;
  right: unset;
  left: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5764705882);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3098039216);
  transition: all 0.2s ease-in-out;
  border-radius: 16px;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

body {
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  min-height: 100dvh;
}
body .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
body .form .resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}
body .form .resend-code .resend_link {
  color: #4381f8;
  cursor: pointer;
}
body .form .resend-code .resend_link.disabled {
  pointer-events: none;
}
body .form .resend-code .timer {
  flex: 1 0;
  display: flex;
  justify-content: end !important;
}
body .form .resend-code .timer span {
  color: #777777;
}
body .form .back_btn {
  height: 56px;
  border-radius: 12px;
  border: 1px solid #000;
  width: 120px;
  color: #000;
  cursor: pointer;
  background: none;
  transition: 0.3s ease-in-out;
}
body .form .back_btn:hover {
  background: #4381f8;
  color: #fff;
  border: 1px solid #4381f8;
}
body .form .input-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 8px;
}
body .form .input-field label {
  color: #000;
  display: flex;
  align-items: center;
  gap: 6px;
}
body .form .input-field label svg,
body .form .input-field label i {
  stroke: #000;
  width: 16px;
  height: 16px;
}
body .form .input-field label img {
  height: 24px;
}
body .form .input-field label span {
  font-size: 12px;
  color: #aaaaaa;
}
body .form .input-field input,
body .form .input-field textarea,
body .form .input-field select {
  color: #000;
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #f4f4f4;
  font-size: 14px;
  box-shadow: none !important;
}
body .form .input-field textarea {
  height: 140px;
  padding: 16px 12px;
}
body .form .input-field .input-span {
  position: absolute;
  color: #4381f8;
  left: 12px;
  top: 46px;
}
body .form .forgetpass {
  align-self: flex-end;
  color: #4381f8;
}
body .form .noAccount {
  color: #777777;
}
body .form .noAccount span {
  color: #4381f8;
}
body .form p {
  color: #777777;
}
body .form p a {
  color: #4381f8;
  text-decoration: underline;
}
body .form button {
  width: 100%;
  height: 56px;
  gap: 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  background: #4381f8;
}
body .form button.disabled {
  opacity: 0.7;
  pointer-events: none;
}
body .form .question {
  padding: 0 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .form .question .quest {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}
body .form .question .vendorInput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
body .form .question .vendorInput::after {
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 16px;
  content: "";
  background-color: #777777;
  transition: all 0.2s ease-in-out;
}
body .form .question .vendorInput::before {
  transition: all 0.2s ease-in-out;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  content: "";
  background-color: #fff;
}
body .form .question .vendorInput:checked::after {
  background-color: #4381f8;
}
body .form .question .vendorInput:checked::before {
  right: initial;
  left: 4px;
}
body .form .image-change-wrapper {
  border-radius: 16px;
  border: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
body .form .image-change-wrapper .img-wrap {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .form .image-change-wrapper .upload input {
  display: none;
}
body .form .image-change-wrapper .upload .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #4381f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .form .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
body .form .auth_social_btn {
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #aaaaaa;
  color: #000;
  gap: 16px;
}
body .form .auth_social_btn img {
  height: 28px;
}
body .form .line {
  width: 100%;
  height: 1px;
  background: #f4f4f4;
  position: relative;
  margin-top: 24px;
}
body .form .line span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 16px;
  color: #000;
  white-space: nowrap;
}
@media (max-width: 576px) {
  body .form .line span {
    font-size: 14px;
  }
}
body .form .pass-group {
  display: flex;
}
body .form .pass-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 56px;
  border: 1px solid #f4f4f4;
  background: #fafafa;
  border-right: 0;
  border-radius: 12px 0 0 12px !important;
  color: #777777;
}
body .form .pass-group input {
  border-left: 0 !important;
  border-radius: 0 12px 12px 0 !important;
}
body .form .phone-group .PhoneInput {
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}
body .form .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
body .form .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -33px;
  left: 10px;
}
body .form .phone-group .PhoneInput select {
  padding: 12px 6px 12px 30px;
}
body .form .phone-group .phone-code {
  height: 54px;
  border-radius: 4px;
}
body .form .image_field {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
body .form .image_field label {
  color: #000;
}
body .form .image_field label i {
  color: #4381f8;
}
body .form .image_field .imagewrap {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #f4f4f4;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image_field .imagewrap input {
  display: none;
}
body .form .image_field .imagewrap .img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image_field .imagewrap .img img {
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
body .form .advice {
  width: 100%;
  margin: 40px 0;
  border-radius: 4px;
  background-color: rgba(67, 129, 248, 0.1019607843);
  position: relative;
  padding-top: 22px;
  padding-bottom: 32px;
}
body .form .advice h6 {
  text-align: center;
  font-weight: 600;
  margin: 32px 0 12px;
  font-size: 16px;
  color: #000;
}
body .form .advice .icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(67, 129, 248, 0.1019607843);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .advice .icon img {
  max-height: 40px;
}
body .form .advice ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
body .form .advice ul li {
  color: #000;
  gap: 6px;
  display: flex;
  align-items: center;
}
body .form .advice ul li i {
  width: 40px;
  color: #7dc0f7;
  font-size: 24px;
}
body .form .verify_image_field {
  padding: 22px;
  width: 100%;
  height: 230px;
  border: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
}
body .form .verify_image_field input {
  display: none;
}
body .phone-field input {
  border-radius: 0 12px 12px 0 !important;
}
body .phone-field .phone-key {
  color: #000;
  height: 56px;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px 0 0 12px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 24px;
  cursor: not-allowed;
}
body .phone-field .phone-key img {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .wizard_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 16px 24px;
  background: #fafafa;
  border: 1px solid #f4f4f4;
  border-radius: 24px;
  scrollbar-width: none;
}
@media screen and (max-width: 576px) {
  body .wizard_tabs {
    padding: 16px 8px;
  }
}
body .wizard_tabs::after {
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background: #aaaaaa;
  left: 24px;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  body .wizard_tabs {
    overflow-x: scroll;
  }
  body .wizard_tabs::-webkit-scrollbar {
    display: none;
  }
}
body .wizard_tabs .wizard_tab {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  align-items: center;
  background: #fafafa;
  z-index: 3;
  padding: 8px;
}
body .wizard_tabs .wizard_tab .step_no {
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
body .wizard_tabs .wizard_tab h6 {
  margin: 0;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
body .wizard_tabs .wizard_tab.active .step_no {
  border-color: #4381f8;
  background: #4381f8;
  color: #fff;
}
body .wizard_tabs .wizard_tab.active h6 {
  color: #4381f8;
}
body header {
  background-color: #fefefe;
  position: sticky;
  top: 0;
  right: 0;
  gap: 4px;
  width: 100%;
  z-index: 1024;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
  padding: 8px 0;
}
body header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 24px;
}
body header .container .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
body header .container .logo-wrapper .logo-img {
  height: 56px;
  display: flex;
  position: relative;
  padding: 8px 0;
}
body header .container .logo-wrapper .logo-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .container .logo-wrapper .logo-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
body header .container .logo-wrapper .logo-title span {
  color: #4381f8;
  position: relative;
  line-height: 1;
}
body header .container .logo-wrapper .logo-title span.title {
  font-size: 18px;
  font-weight: 800;
}
body header .container .logo-wrapper .logo-title span.sub-title {
  font-size: 12px;
  font-weight: 600;
}
body header .container .navbar-menu {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}
body header .container .navbar-menu .nav-item {
  font-size: 16px;
  position: relative;
  padding: 4px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}
body header .container .navbar-menu .nav-item.active {
  background-color: #4381f8;
  color: white;
}
body header .container .navbar-menu .nav-item:hover:not(.active) {
  background-color: rgba(67, 129, 248, 0.1019607843);
  color: #4381f8;
}
body header .container .icons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
body header .container .icons-wrapper .dropdown-icon:hover .count {
  background-color: #fafafa;
  color: #4381f8;
}
body header .container .icons-wrapper .dropdown-icon .count {
  width: 20px;
  aspect-ratio: 1/1;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #4381f8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #4381f8;
  z-index: 20;
}
body header .container .icons-wrapper .dropdown {
  position: relative !important;
}
body header .container .icons-wrapper .dropdown .dropdown-toggle {
  background-color: rgba(67, 129, 248, 0.1019607843) !important;
  color: #4381f8 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border: none;
  padding: 4px;
}
body header .container .icons-wrapper .dropdown .dropdown-toggle:hover {
  background-color: #4381f8 !important;
  color: #fff !important;
}
body header .container .icons-wrapper .dropdown .dropdown-toggle:hover img {
  filter: brightness(0) invert(1);
}
body header .container .icons-wrapper .dropdown .dropdown-toggle img {
  height: 20px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  transition: all 0.2s ease-in-out;
}
body header .container .icons-wrapper .dropdown .dropdown-menu {
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  animation: fadeIn 0.5s;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body header .container .icons-wrapper .dropdown .dropdown-menu.show {
  display: flex;
  top: 16px !important;
}
body header .container .icons-wrapper .dropdown .dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: capitalize;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
}
body header .container .icons-wrapper .dropdown .dropdown-item:active {
  background: none !important;
}
body header .container .icons-wrapper .dropdown .dropdown-item:hover {
  background-color: rgba(67, 129, 248, 0.1019607843) !important;
  color: #4381f8;
}
body header .container .icons-wrapper .dropdown .dropdown-item img {
  height: 16px;
  width: 16px;
}
body header .container .icons-wrapper .dropdown .dropdown-item i {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}
body header .container .icons-wrapper .dropdown .dropdown-item a {
  width: 100%;
  color: #000;
  display: flex;
  align-items: center;
  gap: 6px;
}
body header .container .icons-wrapper .dropdown .dropdown-item a:hover {
  color: #4381f8;
}
body header .container .icons-wrapper .dropdown .dropdown-item:hover {
  background: none;
}
body header .container .icons-wrapper .dropdown .dropdown-toggle::after {
  display: none;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu {
  flex-wrap: wrap;
  --bs-dropdown-min-width: 16rem;
  padding: 8px;
  gap: 4px;
  flex-direction: row;
  border-radius: 16px;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu p {
  padding: 8px;
  color: #777777;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu .dropdown-item {
  border: 1px solid #38383a;
  border-radius: 12px;
  aspect-ratio: 1;
  width: calc(50% - 2px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu .dropdown-item img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.2s ease-in-out;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu .dropdown-item:hover {
  background-color: #4381f8;
  color: #fff;
  border-color: #4381f8;
}
body header .container .icons-wrapper .dropdown:has(.text) .dropdown-menu .dropdown-item:hover img {
  filter: brightness(0) invert(1);
}
body footer {
  padding-top: 60px;
  position: relative;
  border-top: 1px solid #f2f2f2;
  background-color: #fefefe;
}
body footer .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
body footer .logo img {
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
}
body footer .logo .logo-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
body footer .logo .logo-title span {
  color: #4381f8;
  position: relative;
  line-height: 1;
}
body footer .logo .logo-title span.title {
  font-size: 18px;
  font-weight: 800;
}
body footer .logo .logo-title span.sub-title {
  font-size: 12px;
  font-weight: 600;
}
body footer .social_media {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 42px;
}
body footer .social_media a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  background-color: rgba(67, 129, 248, 0.1019607843);
  color: #4381f8;
  font-size: 14px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
body footer .social_media a:hover {
  transform: translateY(-4px);
  background-color: #4381f8;
  color: #fff;
}
body footer .copy_rights {
  margin-top: 32px;
  padding: 16px 0;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .copy_rights h6 {
  font-size: 16x;
  color: #4381f8;
}
body footer .copy_rights a {
  color: #4381f8;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
body footer .copy_rights .links {
  display: flex;
  align-items: center;
  gap: 16px;
}
body footer .footer_title {
  color: #4381f8;
  margin-bottom: 32px;
  font-size: 28px;
  position: relative;
}
body footer .footer_title::after {
  content: "";
  height: 1px;
  width: 100px;
  background: radial-gradient(90% 100% at 0% 50%, rgba(67, 129, 248, 0.1019607843) 0%, rgba(67, 129, 248, 0.6039215686) 100%);
  position: absolute;
  bottom: -12px;
  right: 0;
}
@media screen and (max-width: 576px) {
  body footer .footer_title {
    margin-top: 32px;
  }
}
body footer .footer_links {
  display: flex;
  flex-direction: column;
}
body footer .footer_links .footer_link {
  min-width: 170px;
}
body footer .footer_links .footer_link:hover span {
  width: 16px;
}
body footer .footer_links .footer_link span {
  transition: all 0.2s ease-in-out;
  width: 0;
  overflow: hidden;
}
body footer .footer_link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #4381f8;
  transition: all 0.2s ease-in-out;
  margin-bottom: 12px;
}
body .landing {
  width: 100%;
  background-color: #fefefe;
}
body #root {
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
}
body main {
  flex: 1 1 auto;
}
body .confirm-delete p {
  color: #000;
  font-size: 16px;
  margin-bottom: 24px;
}
body .confirm-delete p span {
  color: red;
  font-weight: 600;
}
body .confirm-delete .cancel-btn {
  border: 1px solid #f2f2f2;
  color: #000;
  width: 100%;
  outline: none;
  background: none;
  padding: 12px;
  border-radius: 12px;
}
body .confirm-delete .delete-btn {
  width: 100%;
  padding: 8px;
  background: rgb(255, 0, 0);
  color: #fff;
  border-radius: 12px;
  border: 0;
  outline: none;
}
body .confirm-delete.other .delete-btn {
  background: #4381f8;
}
body .drop_profile_Menu {
  z-index: 999;
  padding: 8px 0;
  flex-direction: column;
  min-width: 240px !important;
}
body .drop_profile_Menu:has(.menu-header) {
  padding-top: 0 !important;
}
body .drop_profile_Menu .menu-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 4px !important;
  position: relative;
  border-bottom: 1px solid #efefef;
  margin-bottom: 8px !important;
  border-radius: 12px 12px 0 0 !important;
}
body .drop_profile_Menu .menu-header .name {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
body .drop_profile_Menu .menu-header .sub {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}
body .drop_Message_Menu {
  z-index: 999;
  min-width: 350px;
  padding: 0;
  height: 300px;
  flex-direction: column;
}
body .drop_Message_Menu .scroll_menu {
  overflow-y: scroll;
  flex: 1 1 auto;
  scrollbar-width: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .drop_Message_Menu .scroll_menu .drop_Message {
  width: 100%;
}
body .drop_Message_Menu .scroll_menu .drop_Message .image-wrapper {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 32px;
  aspect-ratio: 1;
  background-color: rgba(67, 129, 248, 0.1019607843);
}
body .drop_Message_Menu .scroll_menu .drop_Message .image-wrapper i {
  font-size: 16px;
  color: #4381f8;
}
body .drop_Message_Menu .scroll_menu .drop_Message p {
  margin: 0;
  text-align: start;
}
body .drop_Message_Menu .showall {
  width: 100%;
  text-align: center;
  color: #4381f8;
  font-size: 14px;
  padding: 12px;
  border-radius: 4px;
  background: #fafafa;
}
body.en {
  direction: ltr;
}/*# sourceMappingURL=style.css.map */